/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
.navBar{ 
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    padding-top: 30px;
    padding-bottom: 30px;
}
a{ 
    text-decoration: none;
    color: black;
}
.nav {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
.container-about-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    margin:0 auto;
}
.headerpicture{
    width: 900px;
    box-align: center;
}
.about {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: dotted black;
    padding: 20px;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.strategy {
    display: flex;
    flex-wrap: wrap;
    width: 44%;
    border-bottom: dotted darkgrey;
    padding: 10px;
    margin-top: 20px;
}
.how {
    display: flex;
    flex-wrap: wrap;
    width: 44%;
    border-bottom: dotted darkgrey;
    padding: 10px;
    margin-top: 20px;
}
.places {
    display: flex;
    flex-wrap: wrap;
    width: 44%;
    border-bottom: dotted darkgrey;
    padding: 10px;
    margin-top: 20px;
}
.collaberation {
    display: flex;
    flex-wrap: wrap;
    width: 44%;
    border-bottom: dotted darkgrey;
    padding: 10px;
    margin-top: 20px;
}
p {
    padding: 5px;
}
h3 {
    padding: 10px;
}
button {
    background-color: white;
    color: black;
    border-radius: 8px;
    height: 40px;
    width: 120px;
    border: solid black 3px;
    margin: 20px 0;
}
footer {
    background-color: black;
}
footer .navBar a{
    color: white;
}
.bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 10px;
}